/* === VARIABLES Y COLORES DE MARCA === */
:root {
    --bully-red: #e31e24;
    --bully-dark-red: #b00e13;
    --dark-header: rgba(15, 15, 15, 0.95);
    --bg-color: #f4f4f4;
    --text-dark: #222;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}
